<% provide(:title, "店舗一覧") %>
<div class="m-4">
  <div>
    <%= render partial: "filtering_input", locals:{filtering_input_form: @filtering_input_form, prefectures: @prefectures, cities: @cities} %>
  </div>
  <div class="row">
    <% @branches.each do |branch| %>
      <%= render branch %>
    <% end %>
  </div>
</div>
<%= will_paginate previous_label: '前へ', next_label: '次へ' %>