<% if !@breadcrumbs.nil? %>
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb">
        <% @breadcrumbs.each do |breadcrumb| %>
        <% if breadcrumb[:path].blank? %>
            <li class="breadcrumb-item active" aria-current="page">
            <%= breadcrumb[:label] %>
            </li>
        <% else %>
            <li class="breadcrumb-item">
            <%= link_to breadcrumb[:label], breadcrumb[:path] %>
            </li>
        <% end %>
        <% end %>
    </ol>
    </nav>
<% end %>
