<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <small>
      The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      by <a href="https://www.michaelhartl.com/">Michael Hartl</a>
    </small>
    <nav class="mt-2">
      <ul class="list-inline">
        <li class="list-inline-item"><%= link_to "About", '#', class: "text-decoration-none" %></li>
        <li class="list-inline-item"><%= link_to "Contact", '#', class: "text-decoration-none" %></li>
        <li class="list-inline-item"><a href="#" class="text-decoration-none">News</a></li>
      </ul>
    </nav>
  </div>
</footer>
