<div class="card">
    <div class="card-body text-center">
        <h1 class="card-title">お問い合わせありがとうございました</h1>
        <p class="card-text">査定依頼ありがとうございます。</p>
        <p class="card-text">不動産会社からのご連絡をお待ちください。</p>
        <div class="mt-4">
        <%= link_to '店舗一覧に戻る', branches_path, class: 'btn btn-primary mx-2' %>
        <%= link_to 'お問い合わせフォームに戻る', new_assessment_request_path, class: 'btn btn-outline-info mx-2' %>
        </div>
    </div>
</div>
